/*********************************************************
                       GLOBAL STYLES
*********************************************************/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i|Montserrat:500,500i,600,700');

/*-------------------------------------------------------/

            Removing All Author's instances

/-------------------------------------------------------*/
.pt-author-img {
    display: none;
}
.pt-author-nm {
    display: none;
}
.post-author-name-sm {
    display: none;
}
article img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
/*-------------------------------------------------------/

            Removing All Author's instances

/-------------------------------------------------------*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none !important;
    color: #6fbce4;
    word-wrap: break-word;
}
a:hover {
    color: #000;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color:#263238;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: none;
    color: #263238;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
header{
    padding: 25px 0px;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(38, 50, 56, 0.12);
    z-index: 9999;
    background: #FFF;
    transition: all ease-out 0.3s;
    position: fixed;
}
header.header-wrapper.header-fixed {
    position: fixed;
    height: 80px;
    padding: 15px 0px;
}
section {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    clear: both;
    contain: content;
}
article {
    font-style: normal;
    line-height: 28px;
    font-family: Merriweather;
    font-weight: normal;
    font-size: 16px;
    color: #263238;
}
blockquote{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    font-size: 16px;
}
.tags a {
    color: #39a4dd;
}
.tags a:after {
    content: ' | ';
    font-size: 15px;
    color: #000;
    padding: 0px 3px;
}
.tags a:hover {
    color: #000;
}
.pd-t-b-1x{
    padding-top:20px;
    padding-bottom: 20px; 
}
.pd-t-b-2x{
    padding-top:40px;
    padding-bottom: 40px; 
}
.pd-t-b-3x{
    padding-top:60px;
    padding-bottom: 60px; 
}
.pd-t-1x{
    padding-top: 20px;
}
.mn-t-b-1x{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mn-t-b-2x{
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn-t-b-3x{
    margin-top: 60px;
    margin-bottom: 60px;
}
.mn-b-1x{
    margin-bottom: 20px;
}
.mn-b-2x{
    margin-bottom: 40px;
}
.mn-top-1x{
    margin-top: 20px;
}
.mn-top-2x{
    margin-top: 40px;
}
.text-center{
    text-align: center;
}
.no-gutters {
     margin-right: 0;
     margin-left: 0;
}
.border-top-bottom{
    border-bottom: 2px solid #263238;
    border-top: 2px solid #263238;
}
.border-bottom {
    display: block;
    border-bottom: 1px solid rgba(38, 50, 56, 0.12);
    margin: 10px 0px;
}
.mn-bttm{
    margin-bottom: 10px;
}
.mn-bttm-db{
    margin-bottom: 20px;
}
#search-icon , #header-social-icons{
    padding-top: 10px;
}
.bodywrapper{
    padding: 20px 0px 30px 0px;
}
.bg-circle {
    background-image: url(/wp-content/themes/dlife2018/images/Ellipse3.png);
}
.sm-font {
    font-size: 12px;
}
/*------------------ DFP ADs -----------------*/

#div-gpt-ad-1525701697069-4 , #div-gpt-ad-1525701759229-5 , #div-gpt-ad-1525701641033-4{
    display: block;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999999999999999;
    background: #ffffff;
    padding: 5px;
}
.ad-top-position{
    padding-top: 20px;
    margin-top: 80px;
    text-align: center;
    width: 100%;
}
/*.ad-footer-position {
    padding: 0px 20px 20px 20px;
    text-align: center;
    width: 100%;
}
div#div-gpt-ad-1523900003193-0 {
    display: block;
    text-align: center;
}
div#div-gpt-ad-1523900068176-0 {
    display: block;
    text-align: center;
    margin: 20px 0px;
}*/
/*------------- End of ADs ---------------*/
.responsive-img{
    width: 100%;
}
.featured-img-overlay-text {
    bottom: 0;
    position: absolute;
    background: #FFF;
    padding: 0px;
}
.featured-img-overlay-text-2 {
    bottom: 0;
    position: absolute;
    padding: 0px;
}
.featured-img-overlay-text-with-padding{
    bottom: 0;
    position: absolute;
    background: #FFF;
    padding: 25px;
}
.pt-author-nm p{
    color: #a2a2a2;
}
.section-title{
    margin: 0px 0px 15px 0px;
}
.col-md-4.section-title.sidebar h3 {
    float: left;
    margin-top: 0px;
}
.sidebar-single-post-title h4{
    margin: 0px;
    font-size: 16px;
}
.section-title h3 {
    float: left;
    margin-top: 0px;
}
.sidebar-single-post-img img {
    width: 90%;
}
.sidebar-single-post::after {
    content: "";
    background: rgba(38, 50, 56, 0.12);
    height: 1px;
    width: 90%;
    margin-left: 15px;
}
.news-signup-form h2 {
    line-height: 32px;
    font-size: 24px;
}
.responseDivQA {
    margin-top: 20px;
}
div#search-icon-mobile {
    display: none;
}
.time-p p {
    display: none;
}
a.view-all-link{
    float: right;
}
a.view-all-link::after{
    font-family: FontAwesome;
    content: "\f061";
    color: #6fbce4;
    padding:0px 10px;
    font-size: 10px;
}
a.view-all-link:hover:after{
    padding: 0px 5px;
    color: #000;
    transition: all ease-out 0.1s;
}
a.read-more {
    font-size: 12px;
}
a.dates {
    font-size: 10px;
}
h4.post-author-name-sm {
    font-size: 12px;
    margin: 4px 4px 0px 0px;
    float: left;
}
img.title-icon {
    float: left;
    padding-right: 10px;
}
img.expert-img {
    max-width: 150px;
    float: left;
    padding: 0px 20px 20px 0px;
}
.qa-answer-box {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #8ca9b9;
    font-size: 12px;
    line-height: 16px;
}
.qa-answer-box h4 {
    padding: 16px 0 8px;
}

.qa-answer-box p {
    font-family: Montserrat;
    margin-bottom: 0;
}
.responsive-image img {
    width: 100%;
    height: auto;
}
.featured-single-post::after {
    content: "";
    background: rgba(38, 50, 56, 0.12);
    height: 1px;
    width: 86%;
    margin: 10px auto;
}
.pull-up-div {
    margin-top: -200px;
    background: white;
    padding: 15px;
}
.pyml-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}
.push-to-bottom a {
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
}
/*------------The Modal (background)------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*------------ Fixes for images --------------*/
img.limited-heights {
/*    max-height: 464px;*/
    object-fit: cover;
}
img.ltd-post-img {
    height: 107px;
}
img.ltd-post-img-2 {
    height: 88px;
}
img.ltd-post-img-3{
    height: 240px;
}
.image-filler-type-1 {
    min-height: 300px;
    /*background: #39a4dd;*/
}
.row.single-header-text-wrapper {
    height: 648px;
    display: flex;
}
.image-overlay-text-pull-up {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #fff;
    margin-left: -1px;
}
.single-header-image-container {
    position: absolute;
    max-width: 1140px;
}
.single-header-wrapper {
    /*background: #39a4dd;*/
}
/*-------- End of Fixes for images -----------*/

.info-full-width-block h2{
    text-transform: capitalize;
}
.learn-more-button {
    background: #38A4DD;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    width: 220px;
    min-height: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all ease-out 0.2s;
    color: #FFF;
}
.learn-more-button:hover{
    background: #000;
}
.learn-more-button a , .learn-more-button a:hover{
    color: #FFF;
}
button.middle-view-all{
    display: block;
    margin: 40px auto;
}
.footer-wrapper{
    background:url(../images/footer.png);
    background-size: cover;
    padding:30px 50px;
    font-size: 12px;
    color: #FFF;
}

.footer-wrapper h4{
    color: #FFF;
    font-size: 14px;
}
.footer-wrapper a{
    color: #FFF;
}
.footer-wrapper a:hover{
    color: #000;
}

.tag-page-list h2, .tag-page-list h4, .tag-page-list p {
    display: block;
    float: left;
}
.tag-page-list h2{
    margin: 0px 10px 10px 0px;
}
.tag-page-list h4, .tag-page-list p {
    margin: 10px 10px 10px 0px;
}
.tag-page-list {
    display: block;
    clear: both;
    contain: content;
}
/* ----------------- Wp-Pagination ------------------- */
.navigation {
    float: right;
}
ol.wp-paginate li {
    display: block;
    float: left;
    padding-left: 10px;
}
/* -------------- End of Wp-Pagination --------------- */
/* -------------------- Slideshows ------------------- */
.multipageLinks, .topNavLinks {
    display: block;
    text-align: center;
    margin: 16px 0;
}
._text {
    display: inline-block;
    padding-top: 6px;
}
.prevBtn {
    float: left;
}
.nextBtn {
    float: right;
}
.prevBtn, .nextBtn {
    background: #B8B8B8;
    border: none;
    border-radius: 2px;
    min-height: 32px;
    text-transform: uppercase;
    transition: all ease-out 0.2s;
    color: #FFF;
    font-size: 14px;
}
.prevBtn:hover, .nextBtn:hover {
    background: #38A4DD;
}
/* -------------- End of Slideshows --------------- */
/* --------------------- Header ---------------------- */
.header-logo-wrapper {
    width: 15%;
    display: block;
    float: left;
    padding-left: 15px;
}
.navbar-wrapper {
    width: 70%;
    display: block;
    float: left;
}
.header-social {
    width: 15%;
    display: block;
    float: left;
}
div#search-icon {
    margin-right: 20px;
    border-right: 1px solid;
    padding-right: 20px;
    padding-bottom: 10px;
}
div#header-social-icons {
/*    width: 80%;*/
}
.bar1, .bar2, .bar3 {
    transition: 0.5s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2px, 2px);
    transform: rotate(-45deg) translate(-2px, 2px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
img.logo {
    padding-top: 8px;
    max-width: 91px;
}

#menu-main-menu, #menu-dlifemenu {
    padding-left: 18px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #263238;
}
/* ----------------- End of Header ------------------- */

/* ------------------ Menu Stuff --------------------- */

ul.nav>li {
    position: relative;
}
ul.nav>li>a {
    border: 1px solid #fff;
}
ul.nav>li:hover {
    background: #dedede;
}
.navbar-nav>li:hover>a {
    color: #fff;
   /* background: #1867db;*/
    border: 1px solid #1867db;
}
ul.nav>li:hover>ul {
    display: block !important;
    z-index: 999;
}
ul.nav>li>ul>li:hover>ul {
    display: block !important;
}
ul.nav>li>ul>li>ul>li:hover>ul {
    display: block !important;
}
ul.nav>li>ul>li>ul>li>ul>li:hover>ul {
    display: block !important;
}
ul.nav>li>ul {
    background: #f2f2f2 none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: none;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    width: 250px;
}
ul.nav>li>ul>li {
    position: relative;
    border: 1px solid #dedede;
    border-bottom: 0px solid #dedede;
    background: #fff;
}
/*ul.nav>li>ul>li:last-child {
    border-bottom: 1px solid #1867bd;
}*/
ul.nav>li:last-child>ul {
    margin-left: -108px;
}
.navbar-nav > li > a {
    border: none !important;
}
ul.nav>li>ul>li>a {
    color: #4a4a4a;
    padding: 10px 15px;
    font-weight: 400;
    display: block;
}
ul.nav>li>ul>li:hover {
    background: #dedede;
}
ul.nav>li>ul>li>ul {
    background: #f2f2f2 none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
ul.nav>li>ul>li>ul>li {
    padding: 5px;
    position: relative;
}
ul.nav>li>ul>li>ul>li>a {
    color: #444;
    font-weight: 400;
}
ul.nav>li>ul>li>ul>li>ul {
    background: #f2f2f2 none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
ul.nav>li>ul>li>ul>li>ul>li {
    padding: 5px;
    position: relative;
}
ul.nav>li>ul>li>ul>li>ul>li>a {
    color: #444;
    font-weight: 400;
}
.stick-to-bottom {
    position: absolute;
    bottom: 0;
}
.full-height {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background: #39a4dd;
    height: 3px !important;
}




.navbar-inverse {
    background-color: #FFF;
    border-color: none !important;
}
.navbar-inverse{
    border: none;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background: #FFF !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(38, 50, 56, 0.12) !important;
}
li.dropdown-expandable a:after {
    font-size: 12px;
    float: right;
    font-family: FontAwesome;
    content: "\f107";
    padding-left: 5px;
}
ul.sub-menu li a:after {
    content: '';
}
/* ----------------- Footer Menu ------------------- */
.menu-footermiddlemenu-container ul li , .menu-footermenuleft-container ul li {
    list-style: none;
    margin: 10px 0px;
}
input#dlifeQAName {
    width: 49%;
    float: left;
    margin-right: 2%;
}
.emailinput {
    margin-bottom: 10px;
}
input#dlifeQAEmail {
    width: 49%;
}
textarea#dlifeQAQuestion {
    height: 140px;
}
input#submitQA {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    background: #38A4DD;
    outline: none;
    color: #FFF;
    text-transform: uppercase;
}
/* --------------- End of Footer Menu --------------- */

/* ----------------- Newsletter Signup Form ------------------- */

.form-news {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #383838;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #263238;
    box-sizing: border-box;
    margin: 10px 0px;
}
.input_line-news label {
    font-weight: 400 !important;
}
.execphpwidget {
    border: 1px solid rgba(38, 50, 56, 0.12);
    padding: 10px 15px;
}
#submitNewsletter {
    width: 100%;
}

/* -------------- End of Newsletter Signup Form -------------- */


/* ----------------- Search Form ------------------- */
input#search-field {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    min-width: 350px;
    padding: 10px 0px;
}
#search-clear-button {
    background: #c5c8ca;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    width: 220px;
    min-height: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all ease-out 0.2s;
    color: #FFF;
}
/* -------------- End of Search Form --------------- */
/* ------------------ Breadcrumbs ------------------ */
.breadcrumbs {
    float: left;
    list-style: /*outside none*/ none !important;
    padding: 0 0 16px 0;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
}
/* -------------- End of Breadcrumbs --------------- */

/* ====== Home page ====== */

/* Featured image overlay text padding adjust */
.featured-img-overlay-text {
    padding: 16px 16px 16px 0;
}

/* Home featured article tag */
.featinfo a {
    font-size: 12px;
}

.featinfo a:hover {
    text-decoration: underline !important;
    font-weight: 500;
}

/* Featured article date */
.featinfo p, .time-p p {
    font-weight: 500;
    line-height: 20px;
    font-size: 12px;
    color: rgba(38, 50, 56, 0.5);
}

/* ====== end of home page ====== */

/* Header Height adjust */
header {
    padding: 16px 0px !important;
    height: 80px !important;
}

a:hover {
    color: #263238;
}

/* ====== Image ====== */
/* Article post featured image */
img.limited-heights {
    max-height: 648px;
}

.featimg-532 {
    object-fit: cover;
    max-height: 532px
}

/* ====== end of Image ====== */

/* Menu */
#menu-main-menu, #menu-dlifemenu {
    margin: 0;
}

/* Article title padding adjust */
.row.mn-top-2x h3 {
    padding-top: 16px;
}

/* List articles truncate text */
section.article-list p {
    color: rgba(38, 50, 56, 0.7);
    display: -webkit-box;

}

/* Logo padding top adjust */
 div#logo-container {
    padding-top: 8px;
}

/* Icon padding top adjust */
div#header-right-side-wrapper {
    padding-top: 4px;
}

/* Breadcrumbs */
.breadcrumbs a {
    font-weight: 600;
    line-height: 16px;
    font-size: 12px;
    color: rgba(38, 50, 56, 0.5);
}

.bread-current {
    line-height: 16px;
    font-size: 12px;
    color: #263238;
}
/* Menu color change */
ul.nav>li>a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #263238;
}

ul.nav>li>ul {
    background: #FFF none repeat scroll 0 0;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 16px 24px rgba(0, 0, 0, 0.14);
    width: 240px;
}

ul.nav>li:hover, .nav>li>a:hover {
    color: white;
    background: #38A4DD;
}

ul.nav>li>ul>li:hover {
    background: #F5F5F5;
}

ul.nav>li>ul>li>a {
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #263238;
    padding: 20px 15px;
    display: block;
}

ul.nav>li>ul>li>a:hover {
    color: #263238;
    font-weight: 600;
}

/* Facebook Icon */
a.facebook-link {
    padding-right: 5px;
}

/* Twitter Icon */
a.twitter-link {
    padding-right: 5px;
}

/* Pinterest Icon */
a.pinterest-link {
    padding-right: 5px;
}

a.read-more {
    font-family: Montserrat;
    font-style: normal;
    line-height: 16px;
    font-size: 12px;
    color: #38A4DD;
}

/* Buttons */
.learn-more-button, input#submitQA {
    border: none;
}

button.learn-more-button:hover, input#submitQA:hover {
    background: #263238;
 }

input#submitQA {
    background: #38A4DD;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    width: 220px;
    min-height: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all ease-out 0.2s;
}

/* Newsletter */
.execphpwidget h3 {
    line-height: 32px;
    font-size: 24px;
}

/* ================= WP Ultimate Recipe ================= */

/* Ingredient recipe instruction */
.wpurp-recipe-instruction-group.recipe-instruction-group {
    border-bottom: 1px solid rgba(38, 50, 56, 0.12) !important;
}

/* Tags */
ul.wpurp-recipe-tags {
    padding-left: 0 !important;
}

span.recipe-tag-name {
    width: 70px !important;
    line-height: 36px !important;
}

/* Ingredient groups */

/* Ingredient Name */
span.wpurp-recipe-ingredient-name.recipe-ingredient-name {
    text-transform: capitalize !important;
}

/* Ingredient quantity */
span.wpurp-recipe-ingredient-quantity.recipe-ingredient-quantity {
    font-weight: 600 !important;
}

/* Ingredient unit */
span.wpurp-recipe-ingredient-unit.recipe-ingredient-unit {
    color: #263238 !important;
    font-weight: 600 !important;
}

/* ====== Start of Nutrition Label ====== */
.wpurp-nutrition-label {
    font-family: Montserrat, Arial, Helvetica, sans-serif !important;
    display: inline-block !important;
    max-width: 320px !important;
    border: 1px solid #333 !important;
    padding: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: left !important;
    color: black !important;
}

.wpurp-nutrition-label .nutrition-title {
    font-weight: bold !important;
    font-size: 24px !important;
    line-height: 24px !important;
}

.wpurp-nutrition-label .nutrition-sub-item {
    margin-left: 14px !important;
}

.wpurp-nutrition-label .nutrition-line.nutrition-line-big {
    height: 10px !important;
}
.wpurp-nutrition-label .nutrition-line {
    background-color: #333;
    height: 5px !important;
    font-size: 1px !important;
}

.wpurp-nutrition-label .nutrition-serving {
    font-size: 10px !important;
    line-height: 14px !important;
    font-weight: bold !important;
}

.wpurp-nutrition-label .nutrition-item, .wpurp-nutrition-label .nutrition-sub-item {
    border-top: 1px solid #333;
    clear: both;
}

.wpurp-nutrition-label .nutrition-percentage {
    float: right;
}

.wpurp-nutrition-label .nutrition-warning {
    border-top: 1px solid #333;
    clear: both;
    padding-top: 5px;
    font-size: 10px;
    color: rgba(38, 50, 56, 0.50);
}
/* ====== End of Nutrition Label ====== */

/* Recipe notes */
.wpurp-recipe-notes {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px

}


/* ========== Diabates 101 Category page ========== */
/* Diabetes 101 featured article tags */
.mn-top-2x a {
    font-size: 12px;
}

/* ====== Global typography ====== */
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #263238;
}

body {
    font-size: 16px;
    font-weight: 400;
}

/* Article dBlog title */
.col-md-8.pull-up-div h1 {
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    font-size: 40px;
}

/* H tags margin top, bottom 0 */
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 4px;
}


h1 {
    line-height: 60px;
    font-size: 48px;
}

h2 {
    line-height: 40px;
    font-size: 32px;
}

h3 {
    line-height: 24px;
    font-size: 18px;
}

h4 {

}

h5 {

}

h6 {

}

/* Article & dBlog H tags */
article h1, article h2, article h3, article .h1, article .h2, article .h3 {

}

article h4, article h5, article h6, article .h4, article .h5, article .h6 {
    line-height: 36px;
    font-weight: 600;
    font-size: 18px;
}

article h1 {
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    font-size: 36px;
}
article h2 {
    font-weight: 600;
    line-height: 40px;
    font-size: 32px;
    margin-bottom: 24px;
}

article h3 {
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
}

article h4 {
    line-height: 24px;
    font-size: 20px;
}

article p, article ol, article ul {
    margin-bottom: 24px;
}

article b, article strong {
    font-weight: 600;
}

/* Article dBlog body font */
article {
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 16px;
}
.pinned-articles h3 {
    font-size: 24px;
    line-height: 32px;
}
.pinned-articles p {
    color: rgba(38, 50, 56, 0.7);
}

.small-h-tag h1, .small-h-tag h2, .small-h-tag h3 {

}


.small-h-tag h4, .small-h-tag h5, .small-h-tag h6 {

}

.small-h-tag h1 {

}

.small-h-tag h2 {

}

.small-h-tag h3 {

}

.small-h-tag h4 {

}

.small-h-tag h5 {

}

.small-h-tag h6 {

}

.big-h-tag h1, .big-h-tag h2, .big-h-tag h3 {

}


.big-h-tag h4, .big-h-tag h5, .big-h-tag h6 {

}

.big-h-tag h1 {

}

.big-h-tag h2 {

}

.big-h-tag h3 {
    line-height: 40px;
    font-size: 32px;
}

.big-h-tag h4 {

}

.big-h-tag h5 {

}

.big-h-tag h6 {

}
h2.none-capitalize , h4.none-capitalize{
    text-transform: none;
}
/* Section title */
.section-title h2 {
    float: left;
    margin-top: 0px;
    line-height: 32px;
    font-size: 24px;
}

/* Blockqoute */
blockquote {
    margin: 48px 0 48px 48px;
    line-height: 36px;
    font-size: 18px;
    letter-spacing: -0.05em;
    color: rgba(38, 50, 56, 0.7);
}

/* ====== end of typography ====== */
/* =========== Quizzes =========== */

.wpProQuiz_button {
    font-family: Montserrat;
    padding: 8px 16px !important;
    box-shadow: none !important;
    font-weight: 400 !important;
    background: #B8B8B8 !important;
    border: none !important;
    border-radius: 2px !important;
    min-height: 32px !important;
    text-transform: uppercase !important;
    transition: all ease-out 0.2s !important;
    color: #FFF;
    font-size: 14px !important;
}

.wpProQuiz_button:hover {
    font-family: Montserrat;
    padding: 8px 16px !important;
    box-shadow: none !important;
    font-weight: 400 !important;
    background: #38A4DD !important;
    border: none !important;
    border-radius: 2px !important;
    min-height: 32px !important;
    text-transform: uppercase !important;
    transition: all ease-out 0.2s !important;
    color: #FFF;
    font-size: 14px !important;
}

.wpProQuiz_questionList {
    margin: 24px 0!important;
    background: radial-gradient(1014.00px at 0% 0%, #E3F2FD 0%, #EDEFF0 100%) !important;
    border: 1px solid #bdbdbd !important;
    padding: 16px!important;
    list-style: none!important;
    border-radius: 8px !important;
}

.wpProQuiz_questionListItem input, .wpProQuiz_questionListItem label {
    margin: 0 12px 0 0 !important;
    text-transform: capitalize;
}

.wpProQuiz_response {
    background: #FAFAFA!important;
    border: 1px solid #e0e0e0!important;
    padding: 16px!important;
    margin-bottom: 15px!important;
    box-shadow: 1px 1px 2px #AAA!important;
    border-radius: 4px;
}
/* ======= End of Quizzes ======== */

 .responseDivQA {
    margin-top: 16px;
    padding: 12px;
    border: 1px solid #38a4dd;
    background: #fafafa;
    font-size: 12px;
    font-weight: bold;
}
.popular-post-flex-container {
    display: flex;
    flex-direction: column;
    float: left;
    max-height: 600px;
    flex-wrap: wrap;
}


.popular-post-flex-container .row {
    width: 50%;
    float: left;
}

.popular-post-flex-container .row .responsive-image img {
    max-height: 84px !important;
}


input#search-field2 {
    width: 100%;
    border: none;
    border-bottom: 1px solid #bebfbf;
    padding-bottom: 10px;
    padding-top: 28px;
}
.about-page-text {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
}

.bg-about-page {
    padding: 40px;
    background-image: url('https://admin.dlifedev.com/wp-content/uploads/2018/07/aboutusimage.jpg');
    background-size: cover;
    margin-top: 20px;
}
.bg-about-page-mobile img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

/* ====== Cookie Script ====== */
/* buttons */
#cookiescript_accept, #cookiescript_reject, #cookiescript_readmore {
    margin: 16px 8px 0 !important;
    padding: 12px 16px !important;
}
/* body */
div#cookiescript_wrapper {
    font-family: 'Montserrat', Helvetica, 'Segoe-Ui', sans-serif !important;
    font-size: 15px !important;
    line-height: 20px !important;
}
/* header */
h4#cookiescript_header {
    font-family: 'Montserrat', Helvetica, 'Segoe-Ui', sans-serif !important;
    letter-spacing: -0.5px;
    font-size: 20px !important;
}

@media (max-width: 767px) {
    div#cookiescript_wrapper {
    width: 80% !important;
    }
}
.bg-about-page-mobile {
    display: none;
}

/* ------------------ Media Queries ------------------ */
@media (min-width: 992px){
    .navbar-wrapper-mobile {
        display: none;
    }
    .hide-on-desktop{
        display: none;
    }
}
@media (max-width: 1200px){
    /* div#header-right-side-wrapper{
        display: none;
    }*/
    div#navbar ul li a {
        font-size: 14px;
    }
    .navbar-wrapper{
        width: 60%; 
    }
    div#header-right-side-wrapper{
        width: 20%;
        margin-left: 5%;
        text-align: right;
    }
    img.limited-heights {
        max-width: 940px;
    }
    .image-overlay-text-pull-up {
        bottom: 20px;
    }
    .single-header-wrapper {
/*        max-height: 619px;*/
    }

}
@media (max-width: 991px){

    .bg-about-page {
        display: none;
    }
    .bg-about-page-mobile {
        display: block;
    }
    .popular-post-flex-container {
        display: block;
    }
    .popular-post-flex-container .row {
        width: 100%;
        float: none;
    }
    .popular-post-flex-container .row .responsive-image img {
        max-height: 500px !important;
    }
    .popular-post-flex-container {
        flex-direction: column;
        float: left;
        max-height: 3000px;
        flex-wrap: nowrap;
    }
    div#search-icon {
        margin-right: 10px;
        padding-right: 10px;
    }
    .navbar-static-top {
        border-radius: 0;
        float: right;
    }
    .navbar-wrapper-mobile {
        display: block;
    }
    .navbar-wrapper{
        display: none;
    }
    .image-overlay-text-pull-up {
        bottom: 0;
    }
    .single-header-wrapper {
        max-height: auto;
    }
    img.limited-heights {
        max-width: auto;
    }
    img.ltd-post-img {
        height: auto;
    } 
    img.ltd-post-img-2 {
        height: auto;
    } 
    img.ltd-post-img-3{
        height: auto;
    } 
    .mobile-mn-top-1x{
        margin-top: 20px;
    }
    .mobile-mn-top-2x{
        margin-top: 40px;
    }
    div#navbar ul li a {
        font-size: 12px;
    }
    .navbar-wrapper{
        width: 60%; 
    }
    div#header-right-side-wrapper{
        width: 20%;
        margin-left: 0%;
        display: none;
    } 
    .featured-img-overlay-text{
        position: relative;
    }
    .featured-img-overlay-text-with-padding{
        position: relative;
    }
    ul#menu-footermiddlemenu , ul#menu-footermenuleft {
        padding-left: 0px;
    }
    .footer-desc{
        margin-top: 140px;
        padding: 0px 15px;
    }
    input#submitQA {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .pull-up-div{
        margin-top: 0px;
    }
    .section-title.title-quizzes {
        padding-top: 20px;
    }
    .section-title.title-recipes , .section-title.title-quizzes{
        padding-bottom: 30px;
    }
    .single-header-image-container{
        position: relative;
    }
    .single-header-text-wrapper {
        height: auto !important;
    }
    .image-overlay-text-pull-up{
        position: relative;
    }   
    div#logo-container {
        position: absolute;
        z-index: 9999;
    }
    .mobile-mn-top {
        margin-top: 140px;
    }
    .pyml-container {
        display: block;
    }

}

@media (width: 768px){
    .navbar-collapse.collapse {
        display: none!important;
        height: 100vh!important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse.in {
        overflow-y: scroll !important;
        height: 90vh;
        display: block!important;
        border-top: 1px solid black;
        margin-top: 10px;
    }
    ul#menu-dlifemenu {
        width: 100%;
    }
    .navbar-nav>li {
        float: none;
    }
    ul.nav>li>ul {
        width: 100%;
    }
    div#search-icon-mobile {
        display: block;
        width: 40px;
        margin: 15px 70px 0px 0px;
        float: right;
        position: absolute;
        right: 0;
        border-right: 1px solid;
    }
    ul.nav>li>ul {
        position: relative;
    }
    ul.nav>li>ul>li a {
        padding: 10px !important;
    }
    .navbar-toggle{
        margin-right: -10px;
    }
    div#search-icon {
        display: none;
    }
    .navbar-right {
        float: left!important; 
    }
    .navbar-collapse{
        padding: 0px;
    }
    .nav>li>a {
        padding: 9px 0px !important;
    }
    #menu-dlifemenu {
        padding-left: 0px;
    }
    nav.navbar.navbar-default.navbar-inverse .container {
        width: 100%;
    }
    #navbar ul li a {
        width: 40%;
    }

}




@media (max-width: 768px){
    .sidebar {
        margin-top: 70px;
    }
    h1 {
        font-size: 32px;
        line-height: 42px;
    }
    li.dropdown-expandable a:after {
        display: none;
    }
    li.dropdown-expandable:after {
        font-size: 12px;
        float: right;
        font-family: FontAwesome;
        content: "\f107";
        right: 5px;
        top: 12px;
        position: absolute;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 9px 19px;
    }
    div#navbar {
        background: white;
    }
    .header-social{
        display: none;
    }
    ul.nav>li>ul {
        background: #FFF none repeat scroll 0 0;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 16px 24px rgba(0, 0, 0, 0.14);
    }
    .navbar-collapse.in {
        overflow-y: scroll !important;
        height: 90vh;
    }
    .block-text-justify{
        text-align: justify;
    }
    .block-text-justify h2{
        text-align: center;
    }
    .featured-img-overlay-text-2{
        position: relative;
        padding: 20px;
        text-align: center;
    }
    input#search-field {
        min-width: 270px;
    }
   .modal {
        z-index: 99999 !important;
    }
}

@media (max-width: 767px){
    #navbar ul li a {
        width: 40%;
    }
    ul#menu-dlifemenu {
        width: 100%;
    }
    ul.sub-menu {
        width: 100% !important;
    }
    ul.nav>li>ul>li{
        width: 100%;
    }
    ul.nav>li>ul>li a {
        padding: 10px !important;
    }
    ul.nav>li>ul{
        position: relative;
    }
    div#search-icon-mobile {
        display: block;
        width: 40px;
        margin: 15px 70px 0px 0px;
        float: right;
        position: absolute;
        right: 0;
        border-right: 1px solid;
    }
    div#search-icon {
        display: none;
    }
    img.logo {
        padding: 8px 0px 0px 15px;
    }
    div#header-social-icons {
        padding: 20px 55px;
        float: left;
    }
    div#search-icon {
        padding: 20px 30px;
        border: none;
    }
    .navbar-wrapper {
        width: 100%;
        display: block;
        float: left;
        position: absolute;
    }
    li.dropdown-expandable:after {
        top: 15px;
    }

}

/*---------------- P R I N T    C S S -----------------*/
@media print {
    footer {
        page-break-after: always;
    }
    @page {
        size: A4;
    }  
    @page :blank {
        display: none;
    }
    .breadcrumbs {
        display: none;
    }
    header {
        display: none;
    }
    .ad-top-position {
        padding-top: 0px;
        margin-top: 0px;
    }
    .hide-on-print{
        display: none;
    }
    .print-buttons-2 , .print-buttons {
        display: none;
    }
    .addthis_inline_share_toolbox_i9om.addthis_tool {
        display: none;
    }
    #div-gpt-ad-1525701294851-0 , 
    #div-gpt-ad-1525701294851-1 , 
    #div-gpt-ad-1525701294851-2 , 
    #div-gpt-ad-1525701294851-3 , 
    #div-gpt-ad-1525701294851-4 , 
    #div-gpt-ad-1525701364058-0 , 
    #div-gpt-ad-1525701364058-1 , 
    #div-gpt-ad-1525701364058-2 , 
    #div-gpt-ad-1525701364058-3 , 
    #div-gpt-ad-1525701364058-4 , 
    #div-gpt-ad-1525701438314-0 , 
    #div-gpt-ad-1525701438314-1 , 
    #div-gpt-ad-1525701438314-2 , 
    #div-gpt-ad-1525701438314-3 , 
    #div-gpt-ad-1525701438314-4 , 
    #div-gpt-ad-1525701438314-5 , 
    #div-gpt-ad-1525701438314-6 , 
    #div-gpt-ad-1525701641033-0 ,
    #div-gpt-ad-1525701641033-1 ,
    #div-gpt-ad-1525701641033-2 ,
    #div-gpt-ad-1525701641033-3 ,
    #div-gpt-ad-1525701697069-0 ,
    #div-gpt-ad-1525701697069-1 ,
    #div-gpt-ad-1525701697069-2 ,
    #div-gpt-ad-1525701697069-3 ,
    #div-gpt-ad-1525701759229-0 ,
    #div-gpt-ad-1525701759229-1 ,
    #div-gpt-ad-1525701759229-2 ,
    #div-gpt-ad-1525701759229-3 ,
    #div-gpt-ad-1525701759229-4 ,
    div#quads-ad1 ,
    div#quads-ad2 ,
    div#quads-ad3 ,
    div#quads-ad4
    {
        display: none !important;
    }
    article.article-content {
        column-count: 2;
    }
    footer {
        display: none;
    }
    .sidebar {
        display: none;
    }
}
.print-buttons-2 , .print-buttons{
    position: absolute;
    right: 10px;
}
.print-buttons-2 button , .print-buttons button{
    border: none;
    font-size: 20px;
}
.print-buttons-2 h5 , .print-buttons h5{
    float: left;
    padding: 3px 10px 0px 0px;
}
.pd-top {
    padding-top: 5px;
}

@media (max-width: 1200px){
    .print-buttons-2 , .print-buttons{
        position: relative;
        left: 0px;
    }
    .print-buttons-2 button , .print-buttons button{
        padding: 0px;
    }
}