
#content{
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size:1.7em;
  padding-top: 200px;
}

.card{
  padding-top: 100px;
}

.top{
  padding-top:150px;
}

img{
  width:100%;
  height:100%;
}

ul {
  list-style-type: none;
}

p{
  margin-left:10px;
}

.title{
  text-align: center;
  font-size:2.5em;
  margin-left:10px;
}

.left-media{
  background-color:rgba(0, 128, 0, 0.473);
  float:left;
  width:60%;
  height:800px;
  margin-left:20px;
}

.left-info{
  position:absolute;
  background-color:#135977a1;
  right:55%;
  margin-top:100px;
  width: 700px;
  height: 500px;
  z-index: 2;
}

.right-info{
  position:absolute;
  background-color:#771b13a2;
  left:55%;
  margin-top:100px;
  width: 700px;
  height: 500px;
  z-index: 2;
}

.red-info{
  position:absolute;
  background-color:#137731a2;
  right:55%;
  margin-top:100px;
  width: 700px;
  height: 500px;
  z-index: 2;
}

.product-info{
  position:absolute;
  background-color:#137731a2;
  left:55%;
  margin-top:100px;
  width: 700px;
  height: 300px;
  z-index: 2;
}

.product-media{
  background-color:white;
  float:left;
  width:75%;
  height:750px;
  margin-left:20px;
}

.right-media{
  background-color:rgba(0, 128, 0, 0.473);
  float:right;
  margin-right:100px;
  width:60%;
  height:800px;
  margin-left:20px;
}


#buy_alberta{
  float:left;
  width:30%;
  margin-left:20px;
}

.contact-info{
  position:absolute;
  background-color:#135977a1;
  left:30%;
  z-index: 2;
}

.mapouter{
  position:absolute;
  float:right;
  margin-top:80px;
  left:60%;

  z-index: 2;
}


/* #137731 green
#135977 blue
#773413 brown
#771336 purple 
#771b13 redish*/


