<div id="content">
  <div id="raised_organic" class="left cardset">
    <div class="left-media">
      <img src="../../assets/faar-cropped.jpg">
    </div>
    <div class="left-info box">
      <span class="title">Raised Organic</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus neque diam, 
        id eleifend libero maximus in. Donec tincidunt mauris enim, a ultricies massa tristique a. Donec sit 
        amet erat diam. Suspendisse lorem mi, aliquet in pulvinar quis, tempor sit amet magna. Nunc lorem ante, 
        feugiat ac eros vitae, condimentum imperdiet ligula. Donec aliquet consectetur venenatis. Nunc sagittis pulvinar accumsan.
      </p>
    </div>
  </div>
  <div id="ethically_treated" class="left cardset">
    <div class="right-media">
      <img src="../../assets/dreng-med-ged.jpg">
    </div>
    <div class="right-info">
      <span class="title">Ethically Treated</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus neque diam, 
        id eleifend libero maximus in. Donec tincidunt mauris enim, a ultricies massa tristique a. Donec sit 
        amet erat diam. Suspendisse lorem mi, aliquet in pulvinar quis, tempor sit amet magna. Nunc lorem ante, 
        feugiat ac eros vitae, condimentum imperdiet ligula. Donec aliquet consectetur venenatis. Nunc sagittis pulvinar accumsan.
      </p>
    </div>
  </div>
  <div id="support_local" class="left cardset">
    <div class="left-media">
      <img src="../../assets/piger-i-groentsagsmark.jpg">
    </div>
    <div class="left-info box">
      <span class="title">Support Local</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus neque diam, 
        id eleifend libero maximus in. Donec tincidunt mauris enim, a ultricies massa tristique a. Donec sit 
        amet erat diam. Suspendisse lorem mi, aliquet in pulvinar quis, tempor sit amet magna. Nunc lorem ante, 
        feugiat ac eros vitae, condimentum imperdiet ligula. Donec aliquet consectetur venenatis. Nunc sagittis pulvinar accumsan.
      </p>
    </div>
  </div>
  <div id="contact_us" class="left cardset">
    <div class="left-media">
      <img src="../../assets/lones-familie.jpg">
    </div>
    <div class="left-info box">
      <span class="title">Contact Us</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus neque diam, 
        id eleifend libero maximus in. Donec tincidunt mauris enim, a ultricies massa tristique a. Donec sit 
        amet erat diam. Suspendisse lorem mi, aliquet in pulvinar quis, tempor sit amet magna. Nunc lorem ante, 
        feugiat ac eros vitae, condimentum imperdiet ligula. Donec aliquet consectetur venenatis. Nunc sagittis pulvinar accumsan.
      </p>
    </div>
  </div>

</div>
