<div id="navbar">
  <a routerLink="/info-card" routerLinkActive="active">
    <img id="logo" src="../../assets/farm-icon-black.png">
  </a>
  <a class="link" routerLink="/info-card" [fragment]="'products'" routerLinkActive="active">
    <span>Products</span>
  </a>
  <a class="link" routerLink="/info-card" [fragment]="'raised_organic'" routerLinkActive="active">
    <span>Raised Organic</span>
  </a>
  <a class="link" routerLink="/info-card" [fragment]="'ethically_treated'" routerLinkActive="active">
    <span>Ethically Treated</span>
  </a>
  <a class="link" routerLink="/info-card" [fragment]="'buy_local'" routerLinkActive="active">
    <span>Buy Local</span>
  </a>
  <a class="link" routerLink="/info-card" [fragment]="'contact_us'" routerLinkActive="active">
    <span>Contact Us</span>
  </a>
</div>
